include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container.hero__container
              header.header
                .logo ХБ
                .header__menu
                  nav.nav 
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .header__links
                  ul.socials 
                    - var socials = ['insta', 'vk', 'github'];
                    each item in socials  
                      li.socials__item
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')
              .hero__content
                .user-info.user-info__content
                  .user-info__desc Личный сайт веб разработчика
                  .user-info__name Булат Хисаев
              .hero__bottom-buttons
                .scroll-down-button Скролл
                  +icon(`scroll`, 'scroll-down-button__icon')
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    +image(`content/user.jpg`, 'user__avatar-pic')
                  .user__data
                    table.user__data-table
                      -
                        var data = [
                          ['Проживаю:', 'Уфа'],
                          ['Возраст:', '30 лет'],
                          ['Родился:', '6 ноября 1988']
                        ]
                      each row in data  
                        tr.user__data-row 
                          td.user__data-cell #{row[0]}
                          td.user__data-cell #{row[1]}
              .about__right    
                .about__welcome Привет, меня зовут
                .about__username Булат Хисаев
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps 
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .triangles  
          svg.triangles__item.triangles__item--left(viewbox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )          
          svg.triangles__item.triangles__item--right(viewbox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )     
        section.values
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--xmall Чем я могу быть полезен вам
              article.values__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .values__bg
              +image(`content/Backpack.png`, 'values__bg-img')
            ul.user-skills
              -
                var skills = [
                  ['Front-end', [{name:'HTML5', num: '370'},{name:'CSS3', num: '300'}, {name:'Javascript', num: '120'}, {name:'Jquery и Vue.js', num: '370'}]],
                  ['Workflow', [{name:'GIT', num: '120'}, {name:'Terminal', num: '370'}, {name:'Gulp', num: '250'}, {name:'Webpack', num: '300'}]],
                ]
              each item in skills
                li.user-skills__item
                  .skills-row
                    h3.skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg(viewbox="0 0 220 220" preserveAspectRatio="none").skill__shape
                              circle(r="90" cx="110" cy="110").skill__circle.skill__circle-under
                              circle(r="90" cx="110" cy="110" transform="rotate(-180 110 110)"   stroke-dashoffset=`${skill.num}`).skill__circle.skill__circle-above
                              lineargradient#gradient(x1='0', y1='0', x2='0', y2='100%')
                                stop(offset='0%', stop-color='#ad00ed')
                                stop(offset='100%', stop-color='#5500f2')
                                .skill__title #{skill.name}
        section.work
          .container
            .work__title  
              h2.section-title Мои работы
            .work__content
              .work__slider-preview
                .slider-preview
                  ul.slider-preview-small
                    - var pics = ['content/3.jpg', 'content/2.jpg', 'content/1.jpg']
                    each pic in pics
                      li.slider-preview-small-pic
                        +image(`${pic}`, 'slider-preview-small-img')
                  ul.slider-preview__controlls
                    li.slider-preview__controlls-btn 
                      +icon(`arrow-down`,'slider-preview__controlls-icon slider-preview__controlls-icon_up')
                    li.slider-preview__controlls-btn 
                      +icon(`arrow-down`,'slider-preview__controlls-icon')
              .work__num 2
              .work__content-text
                ul.content-text__tag
                  - var tags = ['HTML', 'CSS', 'Javascript']
                  each tag in tags
                    li.content-text__tag-pic #{tag}
                h3.content-text__title Сайт школы образования
                .content-text__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .content-text__look 
                  .content-text__look-img 
                    +icon(`link`, 'content-text__look-icon')
                  a(href="#").content-text__look-link Посмотреть сайт
                  
        .triangles.triangles__bottom
          svg.triangles__item.triangles__item--left(viewbox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 1000,0 1000,100"
            )          
          svg.triangles__item.triangles__item--right(viewbox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,0"
            )     
        .bottom-section
          section.reviews 
            .container
              .reviews__title
                .section-title Что обо мне говорят
                ul.reviews__slider-controls
                    li.reviews__slider-controls_btn
                      +icon(`arrow-down`,'reviews__slider-controls--icon reviews__slider-controls--icon_left')
                    li.reviews__slider-controls_btn
                      +icon(`arrow-down`,'reviews__slider-controls--icon')
              ul.reviews__slider
                - for (var i=0; i<2; i++) 
                -  var pics = [['content/dima.jpg', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 'Ковальчук Дмитрий', 'Основатель Loftschool'], ['content/vova.jpg', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 'Владимир Сабанцев', 'Преподаватель']]
                each pic in pics
                    li.reviews__slider-item
                      .quote
                        article.quote__text #{pic[1]} 
                          +icon(`quote`, 'quote__text-icon')
                        .quote__author
                          .user.user--horizontal
                            .user__avatar
                              +image(`${pic[0]}`, 'user__avatar-pic')
                            .user__data
                              .user__name #{pic[2]}
                              .user__occ #{pic[3]}
          section.contact
            .container
              .contact__title
                .section-title Связаться со мной
              form.form(action="")
                .form-row
                  label.form-block(for="")
                    .form-block__title Введите ваше имя
                    .form-block__container
                      +icon(`user`, 'form-block__title-icon')
                      .form-block__field
                        input.form-block__input(type="text" name="name" placeholder="" required)
                  label.form-block(for="")
                    .form-block__title Введите ваш email
                    .form-block__container
                      +icon(`envelope`, 'form-block__title-icon')
                      .form-block__field
                        input.form-block__input(type="email" name="name" placeholder="" required)
                .form-row
                  label.form-block(for="").form-block__textarea
                    .form-block__title Сообщение к письму
                    .form-block__container
                      +icon(`message`, 'form-block__title-icon')
                      .form-block__field
                        textarea(name="comment", cols="40", rows="1").form-block__input
                .form-row
                  input(type="submit" value="Заказать").form-row__button
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year © 2019
                .copyright__username Булат Хисаев
                .copyright__desc Личный сайт веб-разработчика
            .footer__data  
              .footer__menu
                nav.nav.nav--color-white 
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}     
              .footer__data-columns
                .footer__data-col
                  article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials
                    ul.socials.socials--rounded 
                      each item in socials  
                        li.socials__item
                          a(href="").socials__link
                            +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p.footer__text-statements Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    p.footer__text-author Martin Golding
          

